
# All folders starting with dot except .gitignore
.*/
!/.gitignore
/original_images
/trainData
#*.ipynb
*.pyc


# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

tasks.todo


/results/ALL_results_analysis.ipynb
